:root{
    -primary: #111;
}

.btn {
    padding:  9px 22px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #111;
    color: #fff;
    border: 1px solid #111;
    transition: all 0.4s ease-out; 
}

.btn-medium {
    padding: 9px 22px;
    font-size: 22px
}

.btn-large {
    padding: 12px 28px;
    font-size: 26px;
}

.btn-medium:hover, .btn-large {
    background: #111;
    color:#fff;
    transition: all 0.4s ease-out; 
}