h2 {
  color: rgb(219, 28, 210);
  text-align: center;
}

.cards {
  display: flex;
  flex-flow:column wrap;
  padding: 2rem;
  background: #111;
  align-items: center;
  min-height: 100px;
  
}

.col {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.card-img-top-service {
  max-height: 231px;
}

.service-card {
  height: 100%;
}

.service-card:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
  .cards-container {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-container {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-container {
    margin-bottom: 2rem;
  }
}
