h2 {
  color: rgb(219, 28, 210);
  text-align: center;
}

.cards {
  padding: 2rem;
  background: #111;
}

.service-row {
  display: flex;
}

.project-card {
  text-align: center;
  min-height: 100px;
  color: #111;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
}

.cards-data-ul {
  margin-bottom: 24px;
}

.card-data {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.card-data-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.card-data-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.2s linear;
}

.service-card:hover {
  transform: scale(1.1);
}

.card-data-info {
  padding: 20px 30px 30px;
}

.card-data-text {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .cards-container {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .cards-container {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards-container {
    margin-bottom: 2rem;
  }
}
